.load {
  padding: 20px;
}

.load button {
  display: block;
  font-family: Open Sans, sans-serif;
  margin: 0 auto;
  background-color: black;
  color: white;
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: grey solid 3px;
  border-bottom: grey solid 3px;
  border-radius: 5px;
}