.quotes {
  height: 100vh;
}

.quotes h2 {
  font-family: Open Sans, sans-serif;
  text-align: center;
  color: black;
  padding: 20px;
  margin: auto;
}

.quotes p {
  font-family: Open Sans, sans-serif;
  color: black;
  text-align: center;
  padding: 0 20px;
}

.quotes img {
  display: block;
  margin: 0 auto;
}